version: '3.3'
services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: 'newsletter'
      MYSQL_USER: 'newsletter'
      MYSQL_PASSWORD: 'newsletter'
      MYSQL_ROOT_PASSWORD: 'newsletter'
    ports:
      # <Port exposed> : <MySQL Port running inside container>
      - '3306:3306'
    expose:
      # Opens port 3306 on the containern
      - '3306'
      # Where our data will be persisted
    volumes:
      - my-db:/var/lib/mysql
# Names our volume
volumes:
  my-db: